/* Base styles */

.main-shas {
    min-height: 100vh;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 12%, rgb(15, 84, 153) 70%, rgb(6, 115, 148) 90%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradientAnimation-shas 10s 15s ease infinite;
    color: white;
}

.container-shas {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.flex-n-center-shas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-section-shas {
    height: 85vh;
}

.message-box-shas {
    text-align: center;
    max-width: 720px;
}

.title-shas {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description-shas {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.inactive-until-shas {
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.button-shas {
    background-color: #ffffff;
    color: #805ad5;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-shas:hover {
    background-color: #805ad5;
    color: #ffffff;
}


.footer-logo-section-shas {
    display: inline-flex;
    align-items: center;
}

.footer-copyright-text-shas {
    text-align: center;
    font-size: 15px;
}

.toast-container-shas {
    width: 700px;
}
.toast-action-button-shas {
    display: block;
    width: fit-content;
    margin: 10px 0 0 auto;
    background: #9910bb;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 0.3s ease all;
}

.toast-action-button-shas:hover {
    background: #6c0785;
}

@media (prefers-color-scheme: dark) {
    .toast-shas {
        background-color: rgb(17 24 39);
        color: rgb(229 231 235);
    }
    .Toastify__close-button--light {
        color: rgb(229 231 235);
    }
}
/* Responsive styles */
@media (max-width: 768px) {
    .container-shas {
        padding: 10px;
    }

    .title-shas {
        font-size: 2rem;
    }

    .description-shas {
        font-size: 1.3rem;
    }

    .button-shas {
        font-size: 1rem;
        padding: 8px 16px;
    }
    .toast-container-shas {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .container-shas {
        padding: 5px;
    }

    .title-shas {
        font-size: 1.8rem;
    }

    .description-shas {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }

    .button-shas {
        font-size: 0.9rem;
        padding: 6px 12px;
    }
    .toast-container-shas {
        width: 420px;
    }
}

@media only screen and (max-width: 480px) {
    .toast-container-shas {
        width: 100%;
    }
}

@keyframes gradientAnimation-shas {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

